<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Brugere</title>

    <script type="text/javascript" th:src="@{/function.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
<a href="/"><h1>User Page</h1></a>
<h2>Opret en bruger</h2>
<h7>Indtast et brugernavn</h7>
<form id="createform">
    <input type="text" id="username">
    <input type="submit" value="Opret">
</form>

<div id="status"></div>
<div id="users"></div>





<script type="text/javascript">

    checkQuery();
    getUsers();
    preventCreateUserFromSending($("#createform"));
</script>

</body>
</html>